*{
    margin: 0;
    padding: 0%;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
/* contact css start  */
#call_center{
    background-color: #f71c1c;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
}
.phn a{
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* font-family: 'Open Sans', sans-serif; */
}
.email a{
    color: #fff;
    font-size: 16px;
    padding-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.con{
    font-size: 20px;
    padding-right: 10px;
}
/* contact css end */


/* humbarger menu css start here */
.hamburger {
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 25px;
  }
  .hamburger span {
    position: absolute;
    display: block;
    background-color: black;
    width: 35px;
    height: 4px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 0px;
  }
  .hamburger span:nth-child(2) {
    top: 10px;
  }
  .hamburger span:nth-child(3) {
    top: 20px;
  }
  
  .hamburger.active span:nth-child(1) {
    top: 10px;
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg); 
    transform: rotate(50deg);
  }
  
  .hamburger.active span:nth-child(2) {
    display: none;
  }
  
  .hamburger.active span:nth-child(3) {
    top: 10px;
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg); 
    transform: rotate(-50deg);
  }
/* humbarger menu end here */
/* navbar css start here  */
/* .navbar{
    padding-top: 30px;
    background-color: #fcf2f2;
} */
/* .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem; 
    color: #000;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s; 
}  */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .0;
    padding-left: .0;
}
.navbar{
    background-color: #fcf2f2;
    padding-top: 30px;
}
.navbar-nav{
    position: relative;
    z-index: 2;
}
.navbar-expand-lg .navbar-nav .nav-item{
    padding: 0px 20px;
}  
.navbar-expand-lg .navbar-nav .nav-item .nav-link{ 
    color: #000;
    font-weight: 800;
    padding-top: 22px;
}  
.navbar-expand-lg .navbar-nav .nav-item .my_style{  
    color: #fff ;
}  
.navbar-brand{
    position: relative;
    z-index: 2;
}
.dropdown-toggle::after { 
    display: none;
}
.my_style{
    background-color: #f71c1c; 
    width: 150px;
    padding: 20px;
    text-align: center; 
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}  
/* navbar css start end  */
 
/* banner css start  */ 
#banners{
    background-color: #fcf2f2;
    padding-top: 45px;
    padding-bottom: 150px; 
}
.tran i{
    width: 20px;
    height: 25px;
    background-color: #f71c1c;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    color: #fff;
    clip-path: polygon(51% 100%, 100% 70%, 100% 0, 0 0, 0 71%);
}
.ints p{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}
.career h2{
    font-size: 35px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}
.career h1{
    font-size: 40px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    color: #f71c1c;
}
.career p{
    padding-top: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; 
}
.join{
    padding-top: 20px;
    position: relative;
    z-index: 2;
}
.course{
    padding-right: 20px;
}
.course a{
    padding: 15px 25px;
    background-color: #f71c1c;
    color: #fff;
    font-size: 14px; 
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition:all linear .3s ;
    -webkit-transition:all linear .3s ;
    -moz-transition:all linear .3s ;
    -ms-transition:all linear .3s ;
    -o-transition:all linear .3s ;
}
.course_one{
    margin-right: 10px;
}
.course_one a{
    padding: 15px 25px;
    background-color: #f71c1c;
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition:all linear .3s ;
    -webkit-transition:all linear .3s ;
    -moz-transition:all linear .3s ;
    -ms-transition:all linear .3s ;
    -o-transition:all linear .3s ;
}
.course a:hover{
    background-color: #fff;
    color: #f71c1c;
}
.course_one a:hover{
    background-color: #fff;
    color: #f71c1c;
}
.course_img{
    padding-right: 8px;
}
.iso{
    padding-top: 30px; 
}
.iso_right p{
    font-size: 15px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif; 
    padding-left: 10px;
    padding-top: 20px;
}
.ban_right_img{
    padding-top: 50px;
    position: relative;
}

/* venobox css start  */
.overly_play_button{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
/* venobox css end */






.ban_right_img img{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
/* banner css end  */

/* banner box slider start  */
#bans_slides{
    position: relative;
    top: -80px;
    z-index: 2;
}
 .box{ 
    margin-left: 10px;
    margin-right: 10px;
    padding: 45px 20px;
    background-color: #fcfbfb;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 0px 33px -20px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 33px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px -20px rgba(0,0,0,0.75);
}
 .box img{
    display: block; 
    margin: 0 auto;
    padding-bottom: 10px;
 }
 .box a{ 
    color: #000;
    font-size: 15px;
    font-weight: 800; 
 }
 .clik_button i{
    width: 40px;
    height: 40px;
    border: 1px solid #fd0c0c;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
 .click_left{
    position: absolute;
    left: 3%;
    top: 25%;
 }
 .click_right{
    position: absolute;
    right: 3%;
    top: 25%;
 } 
 /* banner box slider end  */

/* popular part start  */
#popular{
    position: relative;
    z-index: 2;
}
.main_bg{
   
    background-color: #f7f5f5;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.main_bg2{
    position: relative;
}
.coursess{
    text-align: center;
}
.coursess h2{ 
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; 
}
.coursess p{  
    padding: 0px 235px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #00000098;
    font-size: 15px;
}
.slide_button{
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    z-index: 2;
}
.but_one{
    width: 230px;
}
.but_one button{
    background: none;
    border: none;
    font-size: 11px;
    font-weight: 800;  
    position: relative;
    transition: all linear .3s ;
    -webkit-transition: all linear .3s ;
    -moz-transition: all linear .3s ;
    -ms-transition: all linear .3s ;
    -o-transition: all linear .3s ;
}
.but_one button:hover{
    color: red;
}
.but_one button::after{
    position: absolute;
    content: '';
    bottom: -17px;
    left: 0;
    width: 100%;
    background-color: red;
    height: 2px;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.but_one:hover button::after{
    opacity: 1; 
}
.slide_button::after{
    content: '';
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    background-color: #bdb9b9;
    height: 1px;
}
/* popular part end  */

/* item part start  */
.graphics{ 
    margin: 0px 10px;
    margin-top: 50px; 
    border: 1px solid #eeeeee;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 0px 28px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 28px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -13px rgba(0,0,0,0.75);
    position: relative;
    z-index: 2;
}
.graphics img{
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
} 
.star_right p{ 
    justify-content: right;
    padding-left: 30px;
    font-size: 13px;
    color: #a8a7a7;
}
p{
    margin-bottom: 0;
}
.all_courses p{
    color: #ff4a2e;
    font-size: 13px;
}
 .all_courses{
    padding-left: 10px;
    padding-top: 20px;
 }
 .all_courses h5{ 
    color: #000;
    font-weight: 800;
    padding-top: 10px;
 }
 .star{
    padding-left: 10px;
 }
 .fee p{ 
    color: #000;
    font-size: 15px;
    padding: 20px 0px; 
    font-weight: 800;
 }
 .fee{
    padding-left: 10px;
 }
 .star_left i{
    color: #f8a40a;
 }
 .star_left p{
    display: inline-block;
    font-size: 13px;
    color: #a8a7a7;
}
 .all_click{
    /* position: relative; */
    z-index: 2;
 }
.all_click i{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #727070;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.all_click i:hover{
    background-color: red;
    color: #fff;
}
.all_course_slider{
    position: relative;
}
.all_l{
    position: absolute;
    top: 60%;
    left: 5%;
}
.all_r{
    position: absolute;
    top: 60%;
    right: 5%;
}
/* item part end */

/* creative it name start  */
#creative_name{
    margin-top: 58px;
}
.skils{
    background-color: #fff0f0;
    padding: 40px 30px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin: 0px 10px;
}
.skils_middle{
    background-color: #f6f3f3;
    padding: 40px 30px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.skils_middles{
    background-color: #e2fce6;
    padding: 40px 30px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.skils h2{
    color: #f59518;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; 
}
.skils_middles h2{
    color: #18dbf5;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; 
}
.skils_middle h2{
    color: #03740c;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; 
}
.skils h5{
    color: #000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; 
    line-height: 25px;
}
.skils h5{
    color: #000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; 
    line-height: 25px;
}
.skils p{
    color: #575555;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    line-height: 25px;
}
.all_clickss i{
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #727070;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#creative_name{
    position: relative;
}
.all_li{
    position: absolute;
    top: 50%;
    left: 3%;
}
.all_rr{
    position: absolute;
    top: 50%;
    right: 3%;
}
/* creative it name end  */

/* success part start  */
#success{
    margin-top: 100px;

}
.success_txt h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 40px;
}
.success_txt p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 280px;
}
.see_more{
    padding-top: 100px;
    position: relative;
    z-index: 2;
}
.see_more a{
    padding: 15px 40px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.success_txt_tow{
    padding-top: 100px;
}
/* success part end */

/* facebook slider start  */
#facebook{
    margin-top: 80px;
    position: relative;
    z-index: 2;
} 
.akash{
    padding: 15px;
    border: 1px solid #d1d0d0;
    position: relative;
    margin: 0px 10px;
}
.pro_img img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.left_row{
    border: 1px solid gray;
    padding: 10px;
}
.id_name{
    padding-left: 5px;
}
.id_name p{ 
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
}
.id_name a{ 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #9b9b9b;
}
.id_name a:hover{  
    text-decoration:underline;
}
 .profile_logo img{
    text-align: right;
 }
 .akash_profile{ 
    justify-content: space-between; 
 }
 .commentss{
    padding-top: 20px;
 }
 .commentss a{
    color: gray;
    padding-right: 20px;
 }
 .akash_content p{
    font-size: 14px;
    position: relative;
    padding-top: 5px;
 }
 .akash_content p::after{
    position: absolute;
    content: '';
    bottom: -15px;
    left: 0;
    width: 100%;
    background-color: #d1d0d0;
    height: 1px;
 }
 .fb_slide_icon i{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #727070;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
 }
 .fb_left{
    position: absolute;
    top: 20%;
    left: 4%;
 }
 .fb_right{
    position: absolute;
    top: 20%;
    right: 4%;
 }
 .recommend{
    margin-top: 80px;
 }
 .recommend p{ 
    color: #000; 
    font-size: 20px;
    font-weight: 600;
 }
 .recm{
    color: #b5b5b5;
    text-transform: capitalize;
    padding-left: 10px; 
 }
 .re_icon{
    color: red;
    font-size: 25px;
    padding-left: 10px;
 }
/* facebook slider end */

/* apply part start  */
#apply{
    margin-top: 100px;
}
.apply_head h2{
    font-weight: 800;

}
.apply_head p{
    padding-top: 10px;
    font-weight: 400;

}
/* apply part end */

/* design multimedia :start */
#design_multimedia{
    margin-top: 50px;
}
.desi h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 25px; 
    margin-bottom: 0;
}
.multimedia_slide>*{
    padding-right: 0;
    padding-left: 0;
} 
.devel{
    padding-top: 50px;
}
/* design multimedia end */

/* free_seminner start  */
#free_seminner{
    margin-top: 80px; 
}
.free_contai_bg{
    background-color: #fff7f7;
    border-radius: 40px;
    padding: 50px 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.free_left h2{ 
    font-weight: 800; 
}
.free_left p{ 
    font-weight: 400;
    padding-top: 20px; 
}
.free_left h4{ 
    font-weight: 700;
    padding-top: 20px;  

}
.technology{
    margin-top: 20px;
    background-color: #fbcfcf;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;  
}
.bsss{
    background-color: #ffffff; 
    border: 1px solid #e8e8e8;
    padding: 25px 10px; 
    border-radius: 20px;  
}
  .bsss .technology:hover{
    background-color: #18dbf5;
}
.june p{
    padding: 25px 10px;
    text-align: center; 
}
.blackhin{
    padding-left: 20px;
}
.blackhin p{ 
    font-weight: 600; 
    font-size: 18px;
}
.blackhin span{  
    font-size: 13px;
}
.join_free{
    text-align: right; 
    padding-top: 10px;
    position: relative;
    z-index: 2;

}
.join_free button{ 
    text-align: right;
    margin-right: 20px;
    padding: 7px 25px;
    background: none;
    border: 1px solid #9b9b9b;
    color: red;
    font-weight: 700;
    font-size: 13px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.join_free button:hover{
    background-color: red;
    color: #ffff;
}
.sotoro{
    display: block;
    font-weight: 800;
    font-size: 20px;
}
.course_time{
    padding-top: 40px;
}
.seminer_left {
    padding-top: 50px;
}
.seminer_left img{ 
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* free_seminner end */

/* practical part start  */
#practical{
    margin-top: 100px;
}
.pracrical_bg{
    background-color: #faf8f8;
    padding: 50px 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.practical_right h3{
    padding: 50px 0px 0px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 40px;
    font-size: 25px;

}
.practical_right p{
    padding: 10px 0px 0px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200; 
    font-size: 15px;
    line-height: 30px;


}
/* practical part end */

/* it_expert part start  */
#it_expert{
    margin-top: 100px;
}
.expert_left .proud{
    color: #ff0000e1;
    font-size: 15px;
    font-weight: 800;
}
.expert_left h3{
    padding-right: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 20px;
    line-height: 50px;
}
.expert_left p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #4b4a4a;
}
.know_more{
    padding-top: 20px;
} 
.course_edit{
    padding-top: 20px;
    margin-right: 20px;
    position: relative;
    z-index: 2;
}
.course_edit a{
    color: #fff;
    background-color: red;
    padding: 20px 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.course_edit a:hover{
    background-color: #fff;
    color: red;
}
.it_expert_right{ 
    padding-top: 50px;
}
.it_expert_right img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* it_expert part end */

/* all_counter start  */
#all_counter{
    margin-top: 50px;
}
.count_item{ 
    padding: 30px 20px;
    background-color: #f9f7f7;
    color: #ba0404;
    font-weight: 800;
    font-size: 28px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.all_student{
    display: block;
    color: #000;
    padding-top: 7px;
    font-size: 13px;
    font-weight: 800;
}
/* all_counter end */

/* add company part start  */
#add_company{
    margin-top: 100px;
} 
.company_head h2 {
    color: #1f1e1e;
    font-family: Hind Siliguri;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: .20000000298023224px;
    line-height: 54px;
    margin: 0 auto;
    max-width: 568px;
    text-align: center;
}
.sevenp{
    color: red;
} 
.ul_main{
    padding-top: 50px;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.ul_main .nav-items{
    width: 30%;  
}
.ul_main .nav-items .nav-links:after{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transition: all linear .3s ;
    opacity: 0;
    -webkit-transition: all linear .3s ;
    -moz-transition: all linear .3s ;
    -ms-transition: all linear .3s ;
    -o-transition: all linear .3s ;
}

.ul_main .nav-items:hover .nav-links{
    color: red;
}
.ul_main .nav-items:hover .nav-links:after{ 
    opacity: 1;
}
.ul_main .nav-items .nav-links {
    margin: 0 auto;
    text-align: center;
    font-size: 19px;
    color: #000;
    font-weight: 800;
    height: 100%;
    display: block;
    max-width: 236px;
    position: relative;
    transition:all linear .3s;
    -webkit-transition:all linear .3s;
    -moz-transition:all linear .3s;
    -ms-transition:all linear .3s;
    -o-transition:all linear .3s;
}

.company_item{
    padding-top: 50px; 
}
.com_item{ 
    margin: 0 auto;  
    
} 
/* add company part end */

/* footer part start  */
#footers{
    margin-top: 50px;
    background-color: #352b2b;
    padding: 80px 10px;
}
.footer_head h2{
    color: #fff;
    font-weight: 800;
    
}
.footer_head p{
    color: #a6a5a5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; 
    font-size: 16px;
    padding: 0px 70px;
    line-height: 30px;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 800px; 

}
.footer_btn{
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
}
.footer_btn a{
    padding: 15px 20px;
    border: 1px solid gray;
    margin: 0px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
ol, ul {
    padding-left: 0rem;
}
.extra_pad{
    padding: 0px 40px;
}
.footer_btn a:hover{
    background-color: red;
    border: .5px solid #202020;
}
.footer_one{
    position: relative;
    z-index: 2;
}
.footer_one h4{
    color: #fff;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
}
.loca_text{
    position: relative;
    z-index: 2;
}
.loca_text p{
    color: #a6a5a5;
    font-size: 18px;
}
.loca_text a{
    color: #a6a5a5;
    font-size: 18px;
}
.loca_text_edit a{
    line-height: 45px;
}
#footer_last{
    margin-top: 100px;
}
.payment_accept p{
    text-align: center;
    font-size: 20px; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    padding-bottom: 50px;
}
.bkash_rght{ 
    justify-content:flex-start;
}
.bkash_qr{ 
    padding-left: 20px;
}
.number p{
    font-weight: 600;
    text-align: center;
    font-size: 25px;
}
.border_top{
    margin-top: 50px;
    border-top: 1px solid #d0d0d0;
}
.copy_right p{
    padding-top: 35px;
    text-align: center;
}
.footer_link{
    padding-top: 35px;
    position: relative;
    z-index: 2;
}
.sitemap a{
    color: red;
    position: relative;
    z-index: 2;
}
.footer_link i{
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000000;
    margin: 0px 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.footer_link i:hover{
    background-color: red;
    color: #fff;
}
/* footer part end */

/* stcky menu part start  */
.stcky_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fdefef;
    z-index: 999;
    animation: stckys .5s;
    -webkit-animation: stckys .5s;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar.stcky_menu .nav-link{
    color: #000041;
}
@keyframes stckys{
    0%{
        top:-100px
    }
    100%{
        top: 0;
    }
}
.back_to_top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: none;
    animation: back 1s;
    -webkit-animation: back 1s;
}
@keyframes back{
    0%{
        top:0;
    }
    100%{
        top: 90%;
    }
}
.back_to_top i{
    width: 40px;
    height: 40px;
    background-color: red;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
html,body{
    scroll-behavior: unset !important;
}
/* stcky menu part end */




/* video play button extra  css star here  */
body {
    background: #fff;
  }
  
  .video-play-button {
    position: relative;
    z-index: 10;
     margin:30px;
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }
  
  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }
  
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 70px;
    height: 70px;
    background: #ffff;
    border-radius: 50%;
    transition: all 200ms;
  }
  
  .video-play-button:hover:after {
    background-color: darken(#fa183d, 10%);
  }
  
  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 25px solid red;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  
  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
/* video play button css end here  */




/* cursor style start  */
html{
    scroll-behavior: smooth;
}
body{
    cursor: grab;
}
#cursor{
    width: 40px;
    height: 40px; 
    border: 2px solid #949494;
    position: absolute;
    display: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

div:hover ~ #cursor{
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
}
/* cursor style end */
